h1 {
  text-align: center;
  padding: 20px;
  color: #333;
}

nav {
  background-color: green;
  padding: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

header {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

body {
  background-color: #ccbeaf;
  margin: 0;
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #333;
  padding: 10px;
  text-align: left;
}
header h1 {
  color: white;
}

nav {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 15px;
  background: green;
  padding: 10px;
}


nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

nav a:hover {
  background: white;
  color: green;
}


@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  nav a {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
  }
}

.localizacao-container {
  display: flex;
  flex-direction: column; 
  gap: 80px;
  padding: 20px;
}

.localizacao-container iframe {
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
}

@media (min-width: 750px) {
  .localizacao-container {
    flex-direction: row;       
    align-items: flex-start;
    justify-content: space-between;
  }
.texto-local, .mapa-local {
    flex: 1; 
  }

  .texto-local {
    padding-right: 50px;
  }
}

.foto{
  background: rgb(7, 75, 7);
}
.videos{
  background: rgb(38, 170, 38);
}
.poesias{
  background: rgb(26, 119, 26);
}

.poesias {
  width: 15%;
 
  background: rgb(77, 126, 13);
  padding: 20px;
  transition: width 1s;
}

.poesias:hover {
  width: 500px;
}
section.Poesia{
  background: green;
}

.infos {
  display: grid;
  grid-template-columns:1fr 2fr;    
  gap: 30px;                        
  padding: 40px;
  
}
.infos img {
  max-width: 100%;  
  height: auto;    
}
.imagem-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* duas colunas para as imagens */
  gap: 20px;
  
}
@media (max-width: 700px) {
  .infos {
    grid-template-columns: 1fr; 
  }

  .imagem-container {
    grid-template-columns: 1fr; 
  }
}

