.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5vh;
    background: rgb(133, 98, 53);
    position: sticky;
    height: 10vh;
    padding: 10px 16px;
    margin: 20px 0;
}

.header li a{
    text-decoration: none;
    color: black;
}


body {
    background-color: #f7c82e; 
    color: rgb(2, 0, 0); 
}

#cesto {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
}

.cesto-card {
    background-color: white;
    color: black;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px; 
}

.cesto-card img {
    max-width: 100px;
    display: block;
    margin: 0 auto 10px auto;
}

.descontos-compra {
    text-align: center;
    width: 350px; 
    margin-top: 20px;
}

.descontos-compra > div {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cupao-desconto {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 10px;
    width: 150px; 
}

#btn-comprar {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 10px;
}

